*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-weight: 500;
}
.container{
    background-image: url("../Images/BackgroundLogin.jpg");
    height: 100vh !important;
    width: 100vw !important;
    max-width: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.w-50{
    margin: auto !important;
    background-color: rgba(80,80,80,0.7);
    width: 30% !important;
    position: absolute !important;
    top: 120px !important;
    border-radius: 10px !important;
    left: 35%;
}
