@* $1$ @{ #1# *@
@* $1$     Layout = null; #1# *@
@* $1$ } #1# *@
@* $1$ #1# *@
@* $1$ <!DOCTYPE html> #1# *@
@* $1$ #1# *@
@* $1$ <html> #1# *@
@* $1$ <head> #1# *@
@* $1$     <title></title> #1# *@
@* $1$ </head> #1# *@
@* $1$ <body> #1# *@
@* $1$ <div> #1# *@
@* $1$      #1# *@
@* $1$ </div> #1# *@
@* $1$ </body> #1# *@
@* </html> *@