<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>@ViewData["Title"] Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
@RenderBody()

</body>
</html>