<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="/Images/PetWorldLogo.png" style="width: 160px;" alt="aqui"></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Página Inicial</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active" href="#">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled active">Meus Agendamentos</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link disabled active">Serviços</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link disabled active">Carrinho</a>
            </li>
        </ul>
        @if (!User.Identity.IsAuthenticated)
        {
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-but">
                    <a class="btn btn-outline-light shadow-sm text-decoration-none text-light" asp-controller="Auth" asp-action="Register">Registrar-se</a>
                </li>
                <li class="nav-but">
                    <a class="btn btn-outline-light shadow-sm text-decoration-none text-light" asp-controller="Auth" asp-action="Login">Entrar</a>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                   <li class="nav-item text-light fw-normal">
                      <p>Olá, @User.Identity.Name</p>
                   </li>
                <li class="nav-user">
                    <img src="/Images/UserSvg.svg" alt="User" style="width: 35px">
                </li>
            </ul>
        }
    </div>
  </div>
</nav>
