@model PetWorldOficial.Application.Commands.User.LoginUserCommand

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%; background-color: #444; color: white; border: none;">
        <div class="text-center mb-4">
            <img src="/Images/PetWorldLogo.png" alt="PetWorld Logo" style="width: 150px;"/>
        </div>
        <br>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <form asp-controller="Auth" asp-action="Login">
            <!-- Campo de Email -->
            <div class="form-outline mb-4">
                <input asp-for="Email" type="text" id="email" class="form-control text-white" placeholder="Digite seu email" style="background-color: #555; border: 1px solid #666;"/>
                <label class="form-label text-light" for="email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Campo de Senha -->
            <div class="form-outline mb-4">
                <input asp-for="Password" type="password" id="password" class="form-control text-white" placeholder="Digite sua senha" style="background-color: #555; border: 1px solid #666;"/>
                <label class="form-label text-light" for="password">Senha</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Link "Esqueceu a senha" -->
            <div class="text-end mb-4">
                <a asp-controller="Auth" asp-action="ForgotPassword" class="text-info">Esqueceu a senha?</a>
                <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
            </div>

            <!-- Botão de Login -->

            <!-- Link para Cadastro -->
            <div class="text-center">
                <p>Não tem uma conta? <a asp-controller="Auth" asp-action="Register" class="text-info">Cadastrar-se</a></p>
            </div>
        </form>
    </div>
</div>